<div class="wrapper">
    <div class="menu-section">
        <span (click)="toggleView('grid')" class="icons" [ngClass]="view == 'grid'? 'highlight': ''">
            <fa-icon [icon]="faTh"></fa-icon>
        </span>
        <span (click)="toggleView('list')" class="icons" [ngClass]="view != 'grid'? 'highlight': ''">
            <fa-icon [icon]="faThList"></fa-icon>
        </span>
        <span class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter  <fa-icon [icon]="faFilter"></fa-icon>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="filter(0,25)">0.00$ - 25.00$</a>
              <a class="dropdown-item" (click)="filter(25.01,100.0)">25.01$ - 100.00$</a>
              <a class="dropdown-item" (click)="filter(100.01, 'infinite')">> 100.01$</a>
              <a class="dropdown-item" (click)="clearFilter()">clear filter</a>
            </div>
        </span>
    </div>
    <div class="content">
    <div class="item-list" *ngIf="view == 'grid'">
        <div class="item" *ngFor="let product of products">
            <div class="imageContainer">
            <img class="prod-Img" src="{{product.image}}"></div>
            <label>{{product.title}}</label>
            <span>Price: {{product.price}}$</span>
        </div>
    </div>
    <div class="item-list" *ngIf="view == 'list'">
        <div class="listview-item" *ngFor="let product of products">
            <div class="imageContainer">
            <img class="prod-Img" src="{{product.image}}">
        </div>
        <div class="desc">
            <label>{{product.title}}</label>
            <span>Price: {{product.price}}$</span></div>
        </div>
    </div>
</div>
</div>