<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" >Assignment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/animation" routerLinkActive="active"> Route 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ecart" routerLinkActive="active">Route 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/heroes" routerLinkActive="active">Route 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/heroes" routerLinkActive="active">Route 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/marksheet" routerLinkActive="active">Route 5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dynamicdiv" routerLinkActive="active">Route 6</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>