.buttonGroup-right{
    padding: 10px 0;
    text-align: right;
}

.btn-primary{
    margin-right: 10px;
}

.label{
    padding-right: 10px;
}

.text{
    padding: 5px 10px;
}
.action{
    flex-wrap: nowrap;
    display: flex;
}